<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>


    <footer class="blog-footer" data-th-fragment="footer" style="padding: 15px;background-color: white !important;margin-top: 20px;">

        <a id="goToTop" href="#">
            <i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
        </a>

        <div class="container">
            <div class="col-md-12" style="margin-top: 10px;"></div>
            <p class="m-0 col-md-12">©2022-2023 studycarbon.cn Carbon语言中文网，中国 Carbon 社区， 致力于构建完善的 Carbon 中文社区， Carbon语言爱好者学习家园。</p>
            <p class="m-0 col-md-12">为了更好的体验，本站推荐使用 Chrome 或 Firefox 浏览器</p>
            <div class="col-md-12" style="margin-top: 15px;"></div>
            <div class="m-0 col-md-12 " style="text-align: center">
                <a href="/about">关于网站</a>
                <a href="/contribute">贡献力量</a>
                <a href="/disclaimers">免责声明</a>
            </div>
        </div>

        <!-- JavaScript -->
        <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
        <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
        <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
        <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="../../js/nprogress.js" th:src="@{/js/nprogress.js}"></script>
        <script src="../../js/thinker-md.vendor.min.js" th:src="@{/js/thinker-md.vendor.min.js}"></script>
        <script src="../../js/jquery.tag-editor.min.js" th:src="@{/js/jquery.tag-editor.min.js}"></script>
        <script src="../../js/jquery.tagsinput.min.js" th:src="@{/js/jquery.tagsinput.min.js}"></script>
        <script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
        <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
        <script src="../../js/cropbox.js" th:src="@{/js/cropbox.js}"></script>
        <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
        <script src="../../js/catalog-generator.js" th:src="@{/js/catalog-generator.js}"></script>
        <script src="../../js/main.js" th:src="@{/js/main.js}"></script>
        <script src="../../js/index.js" th:src="@{/js/index.js}"></script>
    </footer>

</body>

</html>