<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
    <div class="container">
        <div style="margin-top: 20px;"></div>
        <!--图书条目-->
        <div class="card-block" style="background-color: white;border-radius:.25rem;">
            <h2 class="card-title" style="font-size: 20px;">
                <a href="https://studycarbon.cn/books/studycarbon-book/_book/"> 《Carbon 语言中文教程》 </a>
            </h2>
            <p class="card-text " style="font-size: 12px;color: #aaa;">Carbon 语言中文教程，提供简单 Carbon 语言的入门教程指导 </p>
            <hr/>
            <div class="card-text">
                碳语言 - C语言的实验继承者++
                编写本书时，carbon 语言尚未准备好使用。
                1) 和 C++ 一起工作
                使用LLVM的C++性能匹配，提供访问地址的能力
                与现有的C++代码互操作，包括继承和模板
                与现有的C++构建系统，一起快速且扩展的构建
                2) 现代和进化
                如果你学习过C++，并且有良好的基础，那你学习carbon就会变得简单
                carbon 的版本基于工具的简单升级
                提供更为安全的内存操作 ...
            </div>
        </div>
    </div>
</body>
<div th:replace="~{fragments/footer :: footer}">...</div>
</html>