<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="~{fragments/header :: header}">
</head>
<body>

<div class="container">
    <div style="margin-top: 20px;background-color: white;padding: 20px;">
        <h5>关于 Carbon 语言中文网</h5> <br/>
        <p>
            Carbon 语言中文网，单纯为了好玩而开发的一个小站，目前，发布文章需要审核，发表评论也需要审核。
            Carbon 语言中文网，源代码编码始于2022年8月份，今天已经是2023年3月份了，期间学习了许许多多的技术，秉烛夜战，曾经的各种努力还历历在目，犹如昨天，
            现在最需要的就是填充网站内容，使得其更丰富，发表评论和文章一定要好文章，千万别发“坏”的文章，“坏”文章：指的是措辞不当的文章。
        </p>
        <p> Carbon 语言中文网，只是“偶尔”进行开发和维护，希望各位理解理解哈！ </p>
    </div>
</div>
</body>

<div th:replace="~{fragments/footer :: footer}">...</div>

</html>