<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"-->
<!--Thymeleaf整合Spring Security，解析sec标签没有效果：
    https://blog.csdn.net/qq_41700374/article/details/87010053-->
<head th:replace="~{fragments/header :: header}">
<body>

<!--    <h4>内容区域</h4>-->
    <div class="container blog-content-container">
        <div sec:authorize="isFullyAuthenticated()">
            <p>已有登录用户</p>
            <p>登录用户为:<span sec:authentication="name"/></p>
            <p>用户角色为:<span sec:authentication="principal.authorities"/></p>
        </div>

        <div sec:authorize="isAnonymous()">
            <p>未有用户登录</p>
        </div>
    </div>

    <!--底部状态栏-->
    <div th:replace="~{fragments/footer::footer}"/>

</body>

</html>