/*!
* Override Bootstrap style.
*
* @since: 1.0.0
* @author Way Lau <https://waylau.com>
*/

.badge {
  margin-left: auto; 
}

.hidden { 
	display: none !important;
}

body {
    /*padding-bottom: 50px;*/
    background-color: #e2e2e2;
}